*{
    margin: 0;
    padding: 0;
    box-sizing: border border-box;
}

body {

  background-color: black;
  color: black;}



 
  
  .makima {
    width: 750px;
    height: 750px;
    min-width: 560;
    display: c;}